<form (ngSubmit)="emitSubmittedEvent()" [formGroup]="form">
  <p>
    Difficulty:
    <input formControlName="difficulty">
  </p>

  <p>
    Count of processes:
    <select formControlName="processCount">
      <option *ngFor="let process of processes" [value]="process">{{ process }}</option>
    </select>
  </p>

  <p>
    <button [disabled]="(inProgress$ | async) > 0">
      <ng-container *ngIf="(inProgress$ | async) === 0">Run calculation</ng-container>
      <ng-container *ngIf="(inProgress$ | async) > 0">Calculation in progress</ng-container>
    </button>
  </p>

</form>
